<!-- Mobile Navbar -->
<div class="navbar-mobile">
  <!-- PennMac Logo/Home Button -->
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/pennmac-logo.png" alt="PennMac Logo" class="logo" />
    </a>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search..." class="search-input" />
    <button class="search-button">Go!</button>
  </div>

  <!-- The hamburger menu on the left, and cart on the right -->
  <div class="navbar-under">
    <button mat-button [matMenuTriggerFor]="menu" class="mat-menu-btn">
      <img src="assets/ham.png" alt="" class="ham-menu" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>About</button>
      <button mat-menu-item>Contact</button>
      <button mat-menu-item>Order & Shipping Info</button>
      <button mat-menu-item>Store-to-Car Pickup</button>
    </mat-menu>
    <div class="cart-holder" (click)="openCartDialog()">
      <img src="assets/cart-icon.svg" alt="" class="cart-icon" />
      <p class="cart-count">{{ cartNumber }}</p>
    </div>
  </div>
</div>

<!-- Desktop Navbar -->
<div class="navbar-desktop">
  <!-- PennMac Logo/Home Button -->

  <div class="left">
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/pennmac-logo.png" alt="PennMac Logo" class="logo" />
      </a>
    </div>
  </div>

  <!-- <div class="middle">
    <a href="#">DELI</a>
    <a href="#">CHEESE</a>
    <a href="#">MEAT</a>
  </div> -->

  <div class="right">
    <!-- search -->
    <div class="search-bar">
      <input type="text" placeholder="Search..." class="search-input" />
      <button class="search-button">Go!</button>
    </div>

    <!-- cart -->
    <div class="cart-holder" (click)="openCartDialog()">
      <img src="assets/cart-icon.svg" alt="" class="cart-icon" />
      <p class="cart-count">{{ cartNumber }}</p>
    </div>
  </div>
</div>

<div class="categories">
  <a href="#">PASTA</a>
  <a href="#">CHEESE</a>
  <a href="#">MEAT</a>
</div>
