<div class="product-container">
  <a routerLink="/item">
    <div class="product-top">
      <img
        src="assets/store-pickup.ico"
        alt=""
        class="pickup-icon"
        *ngIf="pickupOnly"
        [matTooltip]="pickupOnly ? 'This item is store pickup only!' : ''"
      />
      <img src="{{ image }}" alt="" class="product-photo" />
    </div>
  </a>

  <div class="text">
    <h3>{{ title }}</h3>
    <p>${{ price }}</p>
    <div class="add-cart">
      <button (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
