<div class="container">
  <!-- Page title and information -->
  <div class="page-info">
    <!-- {CategoryTitle} -->
    <h3>Sliced Deli Meats</h3>

    <!-- {CategoryDescription} -->
    <p>
      Sliced Meats are priced and sold in 1Lb packages. When you add a 2 to you
      cart box you will get one 2Lb package. If you add a 3 to your cart box,
      you will receive one 3Lb package.
    </p>
  </div>

  <div class="item-list">
    <div *ngFor="let product of products">
      <app-product-card
        image="{{ product.image }}"
        title="{{ product.name }}"
        price="{{ product.price }}"
      ></app-product-card>
    </div>
  </div>
</div>
