.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 2rem;

  img {
    width: 100%;
    max-height: 30rem;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.495);
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #004b12;
    color: white;
    cursor: pointer;
    max-width: 10rem;
    max-height: 3rem;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .left,
    .right {
      width: 100%;
    }

    img {
      max-height: 20rem;
      margin-bottom: 2rem;
    }
  }
}
