<div class="item-container">
  <div class="left">
    <img src="assets/tray.jpg" alt="" />
  </div>

  <div class="right">
    <h2>12in Condiment Tray</h2>
    <p>$25.00</p>
    <p>
      IN-STORE PICK UP ONLY! This Pennmac favorite 12-inch Condiment Tray
      includes Stuffed Banana Peppers stuffed with Prosciutto and Provolone
      Sweety Peppadoos Fire Roasted Tomatoes Roasted Red Peppers Marinated
      Arichokes Marinated Mushrooms Assortment of Olives and Pepperoncini! A
      must have for any gathering!
    </p>
    <button>Add to Cart</button>
  </div>
</div>
